.search-bar-container {
  position: relative;
  width: 100%;
  margin: 0 2px;
  border-bottom: 1px solid darkblue;
}

.search-bar-container .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 16px;
  height: 16px;
  width: 16px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  font-size: 24px;
}

.search-bar-container .results-input{
  display: none;
  position: absolute;
  right: 48px;
  z-index: 5;
  padding: 32px 0;
  top: 20px;

}

.search-bar-container .is-open + .results-input{
  display: block;
}

.dropDown-container {
  list-style: none;
  z-index: 700;
  background: white;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  left: 0;
}

.search-bar-container input {
  width: 100%;
  z-index: 1;
  position: relative;
  border: none;
  text-transform: lowercase;
  padding: 10px 10px 10px 40px;
  outline: none;
  font-size: 22px;
  box-shadow: none;
}

.dropDown-container li{
  padding: 24px 16px 0;
  cursor: pointer;
}

.dropDown-container li a{
  color: black;
  text-decoration: none;
}

.dropDown-container li:hover a{
  color: darkblue;
}

