.table-wrapper {
  height: 45vh;
}

table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
}

table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}

table tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}

table tbody tr {
  width: 100%;
}

table thead,
table tbody tr {
  display: table;
  table-layout: fixed;
}

tbody td,
thead th {
  border-right: 1px solid transparent;
  vertical-align: middle;
}

thead th {
  height: 35px;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

tbody td {
  text-align: left;
  height: 30px;
  background: rgba(213, 213, 213, 0.22);
}

.table-cont {
  width: 100%;
  height: 350px;
}
